<%

var players = json.total_pitches.sort(function(a, b) {
  return b.over_100 - a.over_100;
}).slice(0, 10);

var max = Math.max.apply(null, players.map(p => p.total));

%>
<div class="visualization vertical graph pitchers">
  <h1>Power pitchers are more common, but still rare</h1>
  <p>
    Although pitches faster than 100 mph have become more common, most of them are still from a select few players, and slower pitches still dominate the totals. Two such pitchers (Aroldis Chapman and Mauricio Cabrera) accounted for the vast majority of 100 mph or faster pitches in 2016.
  <ul class="key">
    <li> <i class="over-100 dot"></i> Pitches over 100mph
    <li> <i class="all dot"></i> All pitches
  </ul>
  <div class="graph">
    <% players.forEach(function(p) { %>
      <% 
      var all = p.total / max * 100;
      var over100 = p.over_100 / all;
      var remaining = all - over100;
      %>
    <div class="row <%= p.player == "Edwin Diaz" ? "active-player" : "" %>">
      <div class="label cell"><%= p.player %>
      </div>
      <div class="bars cell">
        <div class="over-100 bar" style="width: <%= over100.toFixed(2) %>%">
          <div class="bar-label"><%= p.over_100 %> (<%= p.percentage %>%)</div> 
        </div>
        <div class="under-100 bar" style="width: <%= remaining.toFixed(2) %>%"></div>
      </div>
    </div>
    <% }) %>
  </div>
</div>