<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html", { page: "trends" }) %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="placeholder splash">
      <img src="http://placehold.it/900x300">
    </header>

    <div class="byline">
      By Evan Webeck
    <div class="staff">
      Seattle Times sports producer
    </div>
    <div class="date">
      Published March XX, 2017
    </div>
    </div>

    <main class="article-content">
      <%= markdown.trends %>
    </main>

    <%= t.include("_credits.html") %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="../app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
