<div class="carousel">

  <h1>Coffee's for closers</h1>

  <p>
    The Mariners' closing role has been the antithesis of stability over the years. Larry Stone dusts off his Hot Stone League cap, and tilts it slightly askew, as he looks back at the Mariners' maddening end-of-game woes.

  <div class="scroll-container-container yes its dumb">
    <div class="scroll-container">
      <div class="scroll-block">
      <% json.stone_comments.forEach(function(s, i) { %>
        <div class="player-container"
          data-rank="<%= s.rank %>"
          data-name="<%= s.closer %>"
          data-comment="<%= s.comment %>"
          data-term="<%= s.year %>"
          data-saves="<%= s.saves %>"
        >
          <div class="tag">
            <%= s.rank %>. <%= s.closer %>
          </div>
          <img src="../assets/closers/Mariners_Closers_<%= i < 9 ? "0" + (i + 1) : i + 1 %>.jpg" class="player-image" data-index="<%= i %>">
        </div>
      <% }) %>
      </div>
    </div>
  </div>
  <div class="empty description">
    Click a player for more details.
  </div>

</div>