<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { page: "closers" }) %>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

  <%= t.include("partials/_nav.html", { page: "closers" }) %>

  <%= t.include("partials/_ad.html", { type: "banner" }) %>

  <header class="photo splash closers">
    <div class="image-container">
      <img src="../assets/mariners-closers.jpg">
      <div class="headline-container">
        <h1>Closing time</h1>
        <h2>Can Edwin Diaz end Mariners' fans justified end-of-game jitters?</h2>
      </div>
    </div>
    <div class="credit">Photo illustration by Rich Boudet / The Seattle Times</div>
  </header>

    <div class="byline">
      By Larry Stone
    <div class="staff">
      Seattle Times columnist
    </div>
    <div class="date">
      Published March XX, 2017
    </div>
    </div>

    <main class="article-content">
      <%= markdown.stone %>
    </main>

    <%= t.include("_nextPage.html", { previous: "trends" }) %>

    <%= t.include("_credits.html") %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="../app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
