<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body class="science page">

    <%= t.include("partials/_nav.html", { page: "science" }) %>

    <header class="pitch impact splash">
      <img class="view" src="../assets/from_the_plate.jpg">
      <img class="ball" src="../assets/baseball_cutout.png">
      <div class="blink"></div>
      <div class="headline-container">
        <h1>Don't blink</h1>
        <h2>The science of a 100mph fastball</h2>
      </div>
    </header>

    <div class="byline">
      By Sean Quinton
      <div class="staff">
        Seattle Times sports producer
      </div>
      <div class="date">
        Published March XX, 2017
      </div>
    </div>

    <main class="article-content">
      <%= markdown.science %>
    </main>

    <%= t.include("_credits.html") %>

    <%= t.include("partials/_ad.html", { type: "bannerBottom" }) %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="../app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
