<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { page: "diaz" }) %>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html", { page: "diaz" }) %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="blue wash splash">
      <div class="image-container">
        <img class="backdrop" src="../assets/diaz-banner-color.jpg">
        <div class="screen"></div>
        <div class="logo">
          <img src="../assets/baseballScript.svg">
        </div>
      </div>
      <div class="headline-container">
        <h1>The heat is on</h1>
        <h2>
          Meet Mariners closer Edwin Diaz and his blazing 100 mph fastball
        </h2>
      </div>
    </header>

    <div class="byline">
      By Ryan Divish
    <div class="staff">
      Seattle Times sports reporter
    </div>
    <div class="date">
      Published March XX, 2017
    </div>
    </div>

    <main class="article-content">

      <%= markdown.diaz %>

    </main>

    <%= t.include("_nextPage.html", { next: "mechanics" }) %>

    <%= t.include("_credits.html") %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="../app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
