<nav class="main-nav">

  <div class="wrapper">

    <a class="logo" href="http://seattletimes.com">
      <img src="../assets/seattletimes.svg">
    </a>

    <div class="menu-block">

      <button class="activate">Menu</button>

      <%
        var current = typeof page == "string" ? page : "";
      %>
      <ul class="dropdown">
        <% grunt.data.json.navigation.forEach(function(p) { %>
        <li class="<%= p.url == current ? "here" : "elsewhere" %>">
            <a href="../<%= p.url %>/"><%= p.title %></a>
        <% }) %>
      </ul>

    </div>

    <a class="share top" aria-label="Share"></a>

  </div>

</nav>