.mlb-container {
  float: right;
  padding: 20px;
  display: block;

  @media @mobile {
    float: none;
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 0;
  }

}

.visualization.pitching-breakdown {

  .stage {
    .display-flex();
    padding: 12px 0;

    @media @mobile {
      display: block;
    }

    .commentary {
      padding: 0 12px;
    }
  }
}