header.splash {

  & .placeholder {
    &::before {
      content: "";
      display: block;
      padding-bottom: percentage(9 / 16);
      background: linear-gradient(to bottom, @df-middle-gray, @df-light-gray);
    }
  }
}

header.splash {
  max-width: 1200px;
  margin: auto;
  
  img {
    width: 100%;
  }
}

main.article-content {
  margin: auto;
  max-width: 800px;
  overflow: hidden;

  @media @mobile {
    padding:16px;
  }

  @media @tablet {
    padding: 16px;
  }
}

aside.inline-nav {
  float: right;
  width: 240px;
  padding: 16px;
  font-family: @df-sans;
  font-size: 14px;

  ul {
    // list-style-type: none;
    display: block;
    // padding: 0;
    margin: 0;
  }
}

footer {
  clear: both;
}

main .inline-nav {
  float: right;
  max-width: 240px;
  margin: 0 16px 32px;
  @media @mobile {
    float: none;
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    border-color: @df-light-gray;
    border-style: solid;
    border-width: 1px 0;
  }

  ul {
    padding-left: 0px;
    font-size: 16px;
    list-style-type: none;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: .5px solid;
      border-color: @df-light-gray;
      color: @df-middle-gray;

      @media @mobile {
        display: inline-block;
        margin-right: 20px;
        border-bottom: none;
      }

      a {
        font-size: 16px;
        color: @df-charcoal;

        &:hover {
          color: @df-blue;
          font-weight: bold;
        }
      }
    }

  }

  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}