<div class="pitching-breakdown visualization">
  <div class="pitch-animation">
    <% for (var i = 1; i <= 8; i++) { %>
    <div class="cel" data-stage="<%= i %>">
      <img src="../assets/breakdown/diaz<%= i %>g.jpg">
    </div>
    <% } %>
  </div>

  <h1>Breaking down the mechanics of a 100-mph fastball</h1>

  <p>
    With his slight frame and lanky arms, Edwin Diaz is not your typical 100-mph hurler. So how does a guy that weighs 165 pounds sling a baseball that fast? We asked Mariners pitching coach Mel Stottlemyre Jr. to break down his mechanics.

  <div class="stages">
    <% json.pitch_breakdown.forEach(function(row) { %>
    <div class="stage">
      <div class="frame">
        <img src="../assets/breakdown/<%= row.image %>">
      </div>
      <div class="commentary">
        "<%= row.comment %>"
      </div>
    </div>
    <% }) %>
  </div>
</div>