<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { page: "mechanics" }) %>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

  <%= t.include("partials/_nav.html", { page: "mechanics" }) %>

  <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="placeholder splash">
      <div class="video-container">
        <iframe src="//players.brightcove.net/1509317113/default_default/index.html?videoId=5378574453001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
      </div>
      <h1>The whip, the deceit, the heat: How Edwin Diaz hits triple digits</h1>
    </header>

    <div class="byline">
      By Ryan Divish
    <div class="staff">
      Seattle Times staff reporter
    </div>
    <div class="date">
      Published March 31, 2017
    </div>
    </div>

    <main class="article-content">
      <%= markdown.mechanics %>
    </main>

    <%= t.include("_nextPage.html", { next: "science", previous: "diaz" }) %>

    <%= t.include("_credits.html") %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="../app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
